{% extends "base.html" %}

{% block title %}Products - My Website{% endblock %}

{% block content %}
<h1>Our Products</h1>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Product 1</h5>
                <p class="card-text">Description of product 1 goes here.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Product 2</h5>
                <p class="card-text">Description of product 2 goes here.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Product 3</h5>
                <p class="card-text">Description of product 3 goes here.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}